@import url('https://fonts.cdnfonts.com/css/google-sans');
@import url('https://fonts.cdnfonts.com/css/playfair');
body{
  background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%); 
color:whitesmoke;
font-family:Playfair, serif; 
}

form{
    width:600px;
    margin:0px auto;

}
fieldset{
    border:5px solid black;
    border-radius:20px;
}
h1{
    font-family:'Product Sans', sans-serif;
    text-align: center;;
}

legend{
    font-family: monospace;
    font-weight:900;
}

input[required]{
    border:2px solid blue;
}

input:focus{
   background-color: rebeccapurple; 
}

 /* Hide the paragraph by default */
input+p{
    display:none;
}

 /* Show the paragraph when the input is hovered */
input:hover+p{
    display:inline;
    background-color:aqua;
    color: black;
    font-family: 'Product Sans', sans-serif;
    font-size: 13px;
}

input[type="radio"]:checked{
    height:18px;
    width:18px;
}

input[type="radio"]:checked+label{
    font-size:15px;
    color: black;
    font-family: 'Product Sans', sans-serif;
}

select{
    background-color: greenyellow;
    border-radius: 5px;
    font-family: Playfair, serif;
}

textarea{
    resize:none;
}

input[type="Email"]~img{
    display:none;
}

input[type="Email"]:focus:valid~img#correct{
    display:inline;
}

input[type="Email"]:focus:invalid~img#wrong{
    display:inline;
}

input[type="number"]~img{
    display:none;
}

input[type="number"]:focus:valid~img#correct{
    display:inline;
}

input[type="number"]:focus:invalid~img#wrong{
    display:inline;
}

